* {
    
    box-sizing: border-box;
}

:root {
    --letra: #333; /* Cor do texto */
    --fundo: #f9f9f9; /* Cor de fundo */
    --destaque: #007bff;
}
  

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#codigo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #B3D9FF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    text-align: center;
    margin-bottom: 15px;
}
 
.card-content {
    text-align: center;
}

.codigo-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.codigo-inputs input {
    width: 40px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.codigo-inputs input:focus{
    box-shadow: 0 0 15px rgb(0, 123, 255, 0.8);
    border: rgb(0, 123, 255, 0.8);
}
.codigo-inputs span{
    opacity: 0;
}
.card-footer {
    text-align: center;
}

.card-footer button {
    margin: 40px 0px 10px 0px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.card-footer a{
    text-decoration: none;
    color: white;
}

.card-footer button:hover {
    background-color: #0056b3;
}
